/* reset and defaults */

html,body,div,ul,li,h1,h2,h3,h4,h5,h6,
p,a,svg,img,mark,small,section,article,header,nav,main {
margin: 0; padding: 0; border: 0; box-sizing: border-box; font-size: 0px;
}

h1,h2,h3,h4,h5,h6,p { font: normal 16px 'Istok Web', sans-serif; }

html, body { height: 100%; }

svg { pointer-events: none; }
svg g { pointer-events: visiblePainted; }

/* colors */

body.advent { background-color: #eaebfd; }
body.christmas { background-color: #eeeedd; }
body.epiphany { background-color: #ddf3dd; }
body.lent { background-color: #e8e8ef; }
body.holyweek { background-color: #eeeedd; }
body.easter { background-color: #faeecf; }
body.ordinary { background-color: #e8f2d8; }
body.generic { background-color: #dddddd; }

.generic h1 { color: #a02c5a; }
.generic h2 { color: #ff0066; }
   .advent h1,   .advent h2,   .advent h4 { color: #5f5fd3; border-color: #6f6fe3; }
.christmas h1,.christmas h2,.christmas h4 { color: #a02c5a; border-color: #b03c6a; }
 .epiphany h1, .epiphany h2, .epiphany h4 { color: #3fb39c; border-color: #4fc3ac; }
     .lent h1,     .lent h2,     .lent h4 { color: #8a6f91; border-color: #9a7fa1; }
 .holyweek h1, .holyweek h2, .holyweek h4 { color: #a02c5a; border-color: #b03c6a; }
   .easter h1,   .easter h2,   .easter h4 { color: #bb9b27; border-color: #cbab37; }
 .ordinary h1, .ordinary h2, .ordinary h4 { color: #8a916f; border-color: #ffffff; }

.novdec h1, .july h1  { color: #5f5fd3; }
.may h1, { color: #a02c5a; }
.january h1, .august h1 { color: #3fb39c; }
.march h1, .october h1{ color: #8a6f91; }
 .april h1, .november h1 { color: #ff0066; }
.february h1,  .september h1 { color: #bb9b27; }
.june h1 { color: #8a916f; }


svg.generic #out, svg.generic #in     { fill: #ffffff00; }
svg.generic-d #out, svg.generic-l #in     { fill: #aaaaaa; }
svg.generic-l #out, svg.generic-d #in     { fill: #dddddd; }
svg.advent #out                       { fill: #5f5fd3; }
svg.advent #in                        { fill: #afafe9; }
svg.christmas #out, svg.nativity #out { fill: #aaaaff; }
svg.christmas #in, svg.nativity #in   { fill: #ff0066; }
svg.epiphanyday #out                  { fill: #ffeeaa; }
svg.epiphanyday #in                   { fill: #54d3bc; }
svg.epiphany #out, svg.baptism #out   { fill: #5fd3bc; }
svg.epiphany #in, svg.baptism #in     { fill: #d5ffe6; }
svg.transfiguration #out              { fill: #aaffee; }
svg.transfiguration #in               { fill: #d0b95c; }
svg.ashwednesday #out                 { fill: #eeebf3; }
svg.ashwednesday #in                  { fill: #ddafe9; }
section.tribar svg.ashwednesday #out  { fill: #dedbe3; }
section.triber svg.ashwednesday #in   { fill: #ddafe9; }
svg.lent #out, svg.palmsunday #out    { fill: #8a6491; }
svg.lent #in, svg.palmsunday #in      { fill: #ddafe9; }
svg.holyweek #out, svg.holymonday #out{ fill: #ff0066; }
svg.holyweek #in, svg.holymonday #in  { fill: #a02c5a; }
svg.easter #out                       { fill: #cbab37; }
svg.easter #in                        { fill: #e9ddaf; }
svg.ascension #out                    { fill: #cbab37; }
svg.ascension #in                     { fill: #c83771; }
svg.pentecost #out                    { fill: #ff8080; }
svg.pentecost #in                     { fill: #ffd5d5; }
svg.trinity #out                      { fill: #ffe9e9; }
svg.trinity #in                       { fill: #ffcc00; }
section.tribar svg.trinity #out       { fill: #fdd7d7; }
section.tribar svg.trinity #in        { fill: #ffcc00; }
svg.ordinary #out, svg.proper #out    { fill: #abc837; }
svg.ordinary #in, svg.proper #in      { fill: #dde9af; }
svg.allsaints #out                    { fill: #abc837; }
svg.allsaints #in                     { fill: #8a916f; }
svg.christtheking #out                { fill: #dde9af; }
svg.christtheking #in                 { fill: #ffcc00; }

svg#swipe-l polygon,svg#swipe-r polygon{ fill: #ffffff; }

/* universal styles */

nav ul { list-style-type: none; }
nav li a { display: inline-block; color: #ff0066; 
font-family: 'Lato',sans-serif; text-decoration: none; 
}
nav li a.generic { color: #a02c5a; text-transform: uppercase; }
nav li a.generic span.bigger { font: 'Istok Web',sans-serif; } 

section.tribar { 
white-space: nowrap; overflow-x: hidden; overflow-y: visible;
z-index: 5;
position: relative; top: 5px;
width: auto;
}

section.tribar svg {
display: inline-block;
width: 45px; height: 40px;
margin-left: -15px;
vertical-align: text-top;
}

section.tribar svg.now { height: 80px; width: 90px; }
section.tribar svg:hover #out { stroke: #ff0066; stroke-width: 2; }
section.tribar svg.generic g, section.tribar svg.now g { pointer-events: none; }

main { position: relative; max-width: 100%; }
main:after { clear: both; content=' '; }

section.info { position: relative; margin: 10px; text-align: center; }
section.info svg { position: absolute; pointer-events: all; }
section.info svg.left { top: 0; left: 0; }
section.info svg.right { top: 0; right: 0; }
section.info a:hover svg #out { fill: #ff0066; }
section.info h1 { 
margin-top: 4px; 
padding: 8px; 
font-weight: bold; 
font-size: 18px; 
}

section.scrips { position: relative; text-align: center; }
section.scrips div { display: inline-block; vertical-align: text-top;}

section.scrips div.week { 
display: block; 
border-bottom: solid 3px #ffffff; 
margin-bottom: 20px;
}

section.scrips article { 
width: 140px; 
padding: 0 0 20px 0; 
vertical-align: text-top;
text-align: center;
}

section.scrips h1 {
display: inline-block;
letter-spacing: 1px;
font-family: 'Lato',sans-serif;
text-transform: uppercase;
padding-bottom: 3px;
margin-bottom: 3px;
width: 110px;
border-bottom: solid 2px;
}

section.scrips h2 { 
font-size: 13px; 
font-weight: bold; 
color: #000000; 
}

section.scrips h3 { 
color: #ff0066; 
text-transform: uppercase; 
padding-bottom: 3px; 
}

section.scrips h3, section.scrips h4 { font-size: 12px; }

section.scrips p { font-size: 14px; margin: 3px 0; }
section.scrips p a { 
padding: 0 6px;
font-size: 14px; 
text-decoration: none; 
color: #000000;
background-color: #ffffff;
border-radius: 6px;
}
section.scrips p a:hover { color: #ff0066; }

section.today h1 { padding: 4px; font-family: 'Lato',sans-serif; font-size: 20px;} 
section.today section.scrips h1, 
section.today section.scrips h2, 
section.today section.scrips h3 { display: none; }

section.text { margin: 0 10px; }
section.text h1 { font-size: 20px; font-family: 'Lato',sans-serif; text-transform: uppercase; }
section.text h2 { padding: 20px 0 5px 0; }
section.text p { padding: 5px 0; }

/* tiny <600 pixels */

@media screen and (max-width: 615px) {

svg#swipe-l { position: fixed; width: 200%; right: 20%; top: 0; z-index: -5;}
svg#swipe-r, section.tribar svg { display: none; }

header {
background-color: #ffffff;
position: relative;  left: calc(50% - 455px);
width: calc(50% + 455px); height: 50px;
}

section.tribar svg { display: inline-block; }
section.tribar svg.now { margin-left: -38px; margin-right: -23px; }

nav { position: relative; text-align: center; width: 100%; top: -8px; z-index: 1; }
nav li { padding: 8px 12px; display: inline-block;}
nav a {font-size: 24px; }
nav li a.generic { font-size: 28px;}
nav li a.generic span.bigger { font-size: 40px; position: relative; top: 3px; left: -3px;}

section.today { text-align: center; margin: 10px; min-height: 200px;}
section.today section.scrips { display: inline-block; width: 200px; }
section.today a { text-decoration: none;}
section.today a h1 { font-size: 18px; display: inline-block; width: 100%; margin-bottom: 10px;}
section.scrips p, section.scrips p a { font-size: 18px; }
section.scrips p { margin: 5px; }

main { padding-top: 35px; }
section.info { margin-bottom: 5px; }

section.scrips div { display: block; }
main section.scrips article { padding-top: 20px;}
main section.scrips article { display: block; width: 100%;}
}

@media screen and (max-width: 330px) {
nav a {font-size: 24px; }
nav li { padding: 8px 6px;}
section.today a h1 { font-size: 16px;}
}

/* medium 600 - 980 */

@media screen and (min-width: 616px) {

svg#swipe-l { position: absolute; width: 700px; top: 134px; left: -350px;}
svg#swipe-r { display: block; position: absolute; top: -350px; left: -120px; width: 600px;}

nav { position: absolute; top: 40px; z-index: 1; }
nav li { padding: 8px; margin-left: 8px; }
nav li a { border-left: solid 3px #ffffff; font-size: 24px; padding: 3px 8px; }
nav li a:hover { border-left: solid 3px #ff0066; }
nav li a.generic { font-size: 40px; margin: 14px 0 75px 0px; letter-spacing: 2px; }
nav li a.generic:hover { border-left: solid 3px #ffffff; }
nav li a.generic span.bigger { font-size: 58px; position: relative; top: 4px; left: -5px;}

header {
background-color: #ffffff;
position: absolute; top: 150px; left: -120px;
width: calc(100% + 120px); height: 50px;
}


section.tribar svg { display: inline-block; }
section.tribar svg.now { margin-left: -38px; margin-right: -23px; }

section.today { position: absolute; top: 0; right: 0; 230px; text-align: left; width: 460px;}
section.today a h1 { display: inline-block;  font-size: 20px; margin-bottom: 3px;}
section.today section.scrips {
-webkit-columns: 150px 3;
   -moz-columns: 150px 3;
        columns: 150px 3;
}
main { position: absolute; top: 235px; width: 100%;}
section.info { position: relative; left: 140px; top: 20px; width: 400px; z-index: 10;}

main section.scrips { position: relative; top: 50px; }

main section.scrips div.midweek { display: inline-block; width: 425px; }
main section.scrips div.sunday { display: inline-block; padding-left: 35px; }
main section.scrips article { display: inline-block; width: 138px;} 

section.text {
margin: 0 50px 0 220px;
max-width: 850px;
}
}



/* large 980+ */

@media screen and (min-width: 980px) {

header { left: 0px; width: 100%;}
section.today { left: 420px; }
section.today section.scrips {
-webkit-columns: 185px 3;
   -moz-columns: 185px 3;
        columns: 185px 3;
}
section.today section.scrips p, section.today section.scrips p a { font-size: 16px; }

/* section.scrips article { min-height: 225px;} */
section.info { left: 250px; }
main section.scrips div.midweek { display: inline-block; width: auto;}
main section.scrips div.sunday { padding-left: 0px;}

}

@media screen and (min-width: 1200px) {

main section.scrips article { width: 170px; }

}




section.menu {
text-align: center;
max-width: 100%;
}

section.menu a {
text-decoration: none;
margin: 0px 10px 10px 0px;
}

section.menu #years {
padding-left: 120px;
float: left;
text-align: right;
vertical-align: text-top;
}

section.menu  a:hover {
background-color: #eaeaea;
}

section.menu a.selected {
background: #ffffff;
pointer-events: none;
}

section.menu #years a {
text-align: center;
display: inline-block;
padding: 6px 12px;
border-radius: 6px;
}

section.menu #years h1 {
color: #a02c5a;
font-family: 'Lato',sans-serif;
font-size: 20px;
text-transform: uppercase;
}

section.menu #years h2 {
color: #a02c5a;
font-size: 14px;
text-align: center;
}

section.menu #options h1{
font-size: 16px;
padding: 2px 2px;
}

section.menu a.go-archive {
font-family: 'Istok Web',sans-serif;
color: #777777;
font-size: 16px;
text-transform: none;
left: -16px;
margin-right: 16px;
}

section.menu #summary {
padding-left: 20px;
border-left: solid 2px #a02c5a;
display: inline-block;
vertical-align: text-top;
text-align: left;
}

section.menu #summary h2 {
font-family: 'Lato',sans-serif;
font-size: 16px;
color: #ff0066;
padding: 4px 0px 2px 4px;
}

section.menu #summary p {
font-family: 'Istok Web',sans-serif;
font-size: 14px;
padding: 4px;
}

section.menu #summary p span {
color: #666666;
}

section.yeardat {
position: relative;
text-align: center;
padding-top: 20px;
}

section.yeardat div {
margin: 20px 50px;
}

section.yeardat #row1 { margin-left: 320px; }

section.yeardat #row2 { margin-left: 210px; }
section.yeardat #row3 { margin-left: 65px; }

section.yeardat article {
position: relative;
display: inline-block;
padding: 20px 20px;
}

section.yeardat h1 {
position: absolute;
top: -20px;
left: 30%;
padding: 3px 10px;
border-radius: 6px;
white-space: nowrap;
text-align: center;
text-transform: uppercase;
font-family: 'Lato',sans-serif;
}

section.yeardat a {
color: inherit;
text-decoration: none;
}

section.yeardat h1:hover {
background-color: #eaeaea;
}

section.yeardat article.christmas h1 { color: #ff0066;  left: 10px;}

section.yeardat article.holyweek h1 { color: #ff0066; left: -20px;}

section.yeardat article.ordinary h1 { color: #8ba817;}

section.yeardat svg {
float: left;
margin-left: -12px;
margin-bottom: 12px;
}

section.yeardat svg:hover #out {
stroke: #ffffff;
stroke-width: 2;
}


#morelinks {
position: absolute;
top: 0;
left: 80px;
}

#morelinks a {
font-size: 14px;
text-decoration: none;
color: #444444;
text-transform: uppercase;
font-family: 'Lato',sans-serif;
display: block;
}

#morelinks a h1 {
display: inline-block;
position: relative;
top: 0;
left: 0;
margin-bottom: 10px;
color: #444444;
}

